html {
  padding: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(185,132,190,1) 100%);
  color: white;
  box-sizing: border-box;
}

a {
  color: #8bd5f1;
}

a:hover{
  color:black
}

p{
  font-size: 18px;
  text-align: center;
}

h1, h2{
  text-align: center;
  margin-bottom: 2rem;
}

li{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}

#pic{
  display: block;
  height: 200px;
  width: 200px;
  margin: 2rem auto;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

div{
  border: 2px solid white;
  border-radius: 2rem;
  height: 300px;
  width: 300px;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}